.tq-images-preview {
  z-index: 99;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.tq-images-preview.show {
  animation: tq-images-show 0.3s ease-in-out forwards;
}
.tq-images-preview.close {
  animation: tq-images-close 0.3s ease-in-out forwards;
}
.tq-images-preview .tq-images-mask {
  background: rgba(0,0,0,0.5);
  position: absolute;
  width: 100%;
  height: 100%;
}
.tq-images-preview .tq-images-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: center center no-repeat;
  background-size: 100% 100%;
  transition: all 0.2s linear;
  cursor: pointer;
}
.tq-images-preview .tq-images-icon:hover {
  transform: scale(1.1);
}
.tq-images-preview .tq-images-close {
  z-index: 999;
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  background-image: url("./images/tq-images-close-icon.svg");
}
.tq-images-preview .tq-images-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tq-images-preview .tq-images-img {
  min-width: 100px;
  min-height: 100px;
  color: #fff;
  background: #777;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  overflow: hidden;
}
.tq-images-preview .tq-images-img img {
  animation: tq-images-fadein 0.3s ease-in-out;
}
.tq-images-preview .tq-images-last,
.tq-images-preview .tq-images-next {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  margin: 0 20px;
  opacity: 0.7;
  background-color: #777;
  border-radius: 50%;
}
.tq-images-preview .tq-images-last:hover,
.tq-images-preview .tq-images-next:hover {
  opacity: 1;
  transform: scale(1.1);
}
.tq-images-preview .tq-images-last {
  background-image: url("./images/tq-images-next-icon.svg");
  transform: rotate(180deg);
}
.tq-images-preview .tq-images-last:hover {
  transform: rotate(180deg) scale(1.1);
}
.tq-images-preview .tq-images-next {
  background-image: url("./images/tq-images-next-icon.svg");
}
.tq-images-preview .tq-images-list-wrap {
  position: absolute;
  left: 50%;
  bottom: 40px;
  margin: 0 auto;
  padding: 10px;
  height: 70px;
  transform: translate(-50%, 0);
  border-radius: 5px;
  background: #777;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tq-images-preview .tq-images-list-wrap .tq-images-img-pre {
  width: 70px;
  height: 70px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  position: relative;
  opacity: 0.7;
}
.tq-images-preview .tq-images-list-wrap .tq-images-img-pre:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 100%;
  height: 4px;
  transform: translate(-50%, 0);
  border-radius: 5px;
  background: #409eff;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
.tq-images-preview .tq-images-list-wrap .tq-images-img-pre.active,
.tq-images-preview .tq-images-list-wrap .tq-images-img-pre:hover {
  opacity: 1;
}
.tq-images-preview .tq-images-list-wrap .tq-images-img-pre.active:after {
  opacity: 1;
}
.tq-images-preview .tq-images-list-wrap .tq-images-img-pre img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
@-moz-keyframes tq-images-close {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.7);
  }
}
@-webkit-keyframes tq-images-close {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.7);
  }
}
@-o-keyframes tq-images-close {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.7);
  }
}
@keyframes tq-images-close {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.7);
  }
}
@-moz-keyframes tq-images-show {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes tq-images-show {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-o-keyframes tq-images-show {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes tq-images-show {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-moz-keyframes tq-images-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes tq-images-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes tq-images-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tq-images-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
